/* PRODUCTS */

#products > .container.row{
    display: grid;
    grid-template-columns: 49.5% 49%;
    grid-gap: 16px;
}

#products .block{
    background-color: #fff;
    padding: 16px;
}

#products .block .title{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px;
    color: #000;
    transition: 0.3s color;
}

#products .block .text{
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 16px;
    transition: 0.3s color;
}

#products .header{
    padding: 32px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
}

#products .list{
    display: flex;
    grid-gap: 16px;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
}

#products .list .item{
    background-color: #fff;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    grid-gap: 32px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
    cursor: pointer;
    transition: 0.3s background-color;
}

#products .list .item:hover{
    background-color: #e21c31;
    color: #FFF;
}

#products .list .item:hover .text, #products .list .item:hover .title{
    color: #FFF;
}

#products .list .item .image{
    height: 150px;
    width: 150px;
    background-color: #999;
    transition: 0.3s background-color, 0.3s color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #333;
    font-size: 46px;
}

#products .list .item:hover .image{
    background-color: #fff;
    color: #000;
}

#products .list .item:hover .image > i{
    font-size: inherit;
}

#products .list .item .content{
    width: 70%;
}

/* ADVANTAGES */

#advantages .content{
    display: flex;
    justify-content: space-between;
}

#advantages .content .item{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 64px;
    border: 10px solid #5e8dec;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}

#advantages .content .item i{
    font-size: 48px;
    color: inherit;
    margin-bottom: 16px;
}

/* REVIEWS */

#reviews .slider{
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviews .slider li{
    display: flex;
    grid-gap: 32px;
    align-items: center;
}

/* NEWS */

#news .content{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 32% 32% 32%;
}

#news .content .item{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
    background-color: #fff;
    cursor: pointer;
    color: #000;
}

#news .content .item .image{
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

#news .content .item .image .overlay{
    background-color: #fff;
    padding: 8px;
    display: inline-block;
    font-weight: 500;
}

#news .content .item .title{
    font-weight: 600;
    padding: 16px;
}

/* PRODUCT */

#product .block{
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
    padding: 16px;
}

#product .block .text{
    font-weight: 400;
    font-size: 18px;
}

#product .block .content.row{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 16px;
    margin-top: 16px;
}

#product .block .content.row .item > *{
    width: 100%;
}

#product .block .content.row .item > .image{
    position: relative;
    overflow: hidden;
    min-height: 350px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

#product .block .content.row .item > .content{
    padding: 16px;
    border: 1px solid #eee;
}

#product .block .content.row .item > .btn{
    border-radius: 0px;
}

#contacts .content{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
}

#contacts .content .item{
    padding: 16px;
    display: flex;
    grid-gap: 64px;
}

#contacts .content .item iframe{
    width: 500px;
}

#contacts .content .item .city{
    font-weight: 600;
    font-size: 16px;
    color: #3566c8;
}

#contacts .content .item .title{
    font-weight: 600;
    font-size: 28px;
    color: #000;
    margin-bottom: 16px;    
}

#contacts .content .item p{
    margin-bottom: 8px;
}

#news .content{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 32% 32% 32%;
}

#auth .block{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

#auth .block > *{
    width: 100%;
}

/* REVIEWS */

#newreview .content > *{
    width: 100%;
}

#newreview .btn{
    background-color: #3566c8;
    padding: 8px;
}

#reviews .content{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
}

#reviews .content .item{
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.26);
    padding: 16px;
}

#reviews .content .item .fullname{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #000;
}

#reviews .content .item .fullname .date{
    font-weight: 600;
    margin-left: 8px;
}

#reviews .content .item .text{
    width: 100%;
    color: #777;
    white-space: break-spaces;
}

/* NEWS VIEW */

#news-view .image{
    height: 300px;
    width: 100%;
    margin-bottom: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#news-view .date{
    margin-top: 16px;
    font-weight: 600;
    color: #000;
}

#news-view a{
    color: #3566c8;
}